@custom-media    --mobile (width <= 640px);

$grey: rgba(0, 0, 0, 0.75);

.b-main{
  max-width: 900px;
  margin: 0 auto;
}
.b-image{
  border-radius: 10px;
  border: 1px solid $grey;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px $grey;
}
.b-image img{
  width: 100%;
}
.b-title{
  text-align: center;
  font-family: Verdana, Sans-serif;
}
.b-title h1{
  color: $grey;
}
.b-title p{
  font-size: 14px;
}

@media (--mobile) {
  .b-main{
    max-width: 320px;
  }
}
